<%- include('./partials/header.ejs') %>

<% if (productsExists) { %>
  <% products.forEach(function(product) { %>
  <div class="card" style="width: 18rem">
    <img src="https://cdn3.iconfinder.com/data/icons/education-209/64/clock-stopwatch-timer-time-128.png"
      class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Nombre: <%= product.name %></h5>
      <p class="card-text">ID: <%= product.id %></p>
      <p class="card-text">Fecha de agregado: <%= product.timestamp %></p>
      <p class="card-text">Descripcón:<%= product.description %></p>
      <p class="card-text">Código:<%= product.code %></p>
      <p class="card-text">Precio: $<%= product.price %></p>
      <p class="card-text">Stock: <%= product.stock %></p>
      <a href="#" class="btn btn-primary">Actualizar</a>
      <a href="/" class="btn btn-primary">Volver a inicio</a>
    </div>
  </div>
  <% }) %>
  <% } else { %>
    <div class="alert alert-warning fw-bold" role="alert">
      No se encontraron productos
    </div>
    <% } %>
  </body>
  </html>